<h1>Hello, world!</h1>
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
  <div class="form-group">
    <label>FirstName</label>
    <input type="text" name="FirstName" class="form-control" [(ngModel)]="model.FirstName" required>
  </div>

  <div class="form-group">
    <label>LastName</label>
    <input type="text" class="form-control" name="LastName" [(ngModel)]="model.LastName" required>
  </div>
<br />
  <div class="form-group">
    <button class="btn btn-danger btn-block">Submit</button>
  </div>
</form>